<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>express</h1>
    <p>Welcome to  express website</p>

    <ul>
        <% for(var i=0; i<items.length; i++) { %>
        <li>
            <%= items[i].id %>
        </li>
        <% } %>
    </ul>
    <a href="/signout"> log out </a>
  </body>
</html>
